@import '_colors';

section {
    h4 {
        margin-top: 25px;
        text-transform: uppercase;
    }
    & > ul > li {
        color: $lightBlue;
        margin-bottom: 10px;
    }
    li > ul {
        color: $darkBlue;
        font-style: italic;
        list-style: none;
    }
}