.servizio {
    h4 {
        padding: 0;
        margin: 0;
        text-align: right;
    }
    .upper {
        background: #eee;
        padding: 15px;
    }
    p {
        padding-top: 15px;
        text-align: justify;
    }
}