@import '_colors';

a {
    color: $lightBlue;
    transition: color 0.5s;
    &:hover {
        color: $darkBlue;
        text-decoration: none;
    }
}

body {
    color: $lightBlue;
    & > header {
        background: $lightBlue;
        border-bottom: 4px solid $darkBlue;
        color: white;
        padding: 10px;
        font-size: 2.0em;
        text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
        a {
            color: white;
            &:hover {
                color: $darkBlue;
            }
        }
        .header-left {
            text-align: center;
            @media only screen and (min-width: 768px) {
                text-align: left;
            }
        }
        .header-right {
            padding-top: 25px;
            text-align: center;
            @media only screen and (min-width: 768px) {
                text-align: right;
            }
        }
    }
    nav {
        margin-top: 25px;
        li {
            text-align: center;
            @media only screen and (min-width: 768px) {
                text-align: left;
            }
            &:hover {
                background: #eee;
            }
        }
        .navbar-header {
            text-align: center;
        }
        .navbar-toggle {
            float: none;
            /*margin-left: 15px;*/
        }
    }
    & > footer {
        border-top: 4px solid $darkBlue;
        margin-top: 25px;
        .item {
            margin-bottom: 25px;
            text-align: center;
            @media only screen and (min-width: 768px) {
                text-align: left;
            }
            h4 {
                margin-bottom: 25px;
                margin-top: 25px;
            }
        }
        .social {
            font-size: 2.5em;
        }
        .copyright {
            color: #bababa;
            font-size: 0.8em;
            padding-bottom: 25px;
            text-align: center;
        }
    }
}

h1,h2,h3,h4,h5,h6 {
    color: $headers;
    margin-top:5px;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
}
h1 {
    margin-bottom: 25px;
}

/* blocco descrittivo home page */
.termeaspio {
    margin-top: 25px;
    .text {
        font: {
            size:2.0em;
            style: italic;
            weight: bold;
        }
        text-align: center;
    }
}