@import '_colors';

a {
    transition: color 0.5s;
    &:hover {
        text-decoration: none;
    }
}

body {
    color: $headers;
    & > header {
        background: $lightBlue;
        border-bottom: 4px solid $darkBlue;
        color: white;
        padding: 10px;
        font-size: 2.0em;
        text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
        a {
            color: white;
            &:hover {
                color: #bababa;
            }
        }
        .header-left {

        }
        .header-right {
            text-align: right;
        }
    }
    nav {
        margin-top: 25px;
        .container-fluid {
            padding-left: 0;
        }
    }
    & > footer {
        border-top: 4px solid $darkBlue;
        .item {
            .row:nth-child(2) {
                margin-bottom: 25px;
            }
        }
        .social {
            font-size: 2.5em;
        }
        .copyright {
            color: #bababa;
            font-size: 0.8em;
            padding-bottom: 25px;
            text-align: center;
        }
    }
}

h1,h2,h3,h4,h5,h6 {
    color: $headers;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
}